@charset "UTF-8";

@media screen and (min-width: 768px) { /*versão para tablets  and (max-width: 992px) */

	body {
		display: flex;
		justify-content: center;
		align-items: center;

		/*background-image: url('../imagens/logo.svg');
		background-repeat: no-repeat;
		background-position: 40px 40px;*/
	}

	#principal {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	

		width: 100vw;
		height: 100vh;
		padding-bottom: calc((100vh - 450px) / 2);

	}

	#logo {
		display: flex;
		align-self: flex-start;
		padding: 40px 0 0 40px;
	}

	#formulario {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 572px;
		height: 450px;
		padding-bottom: 40px;
		/*padding-top: 5px;
		border: 1px solid white;*/
		background-color: var(--form-background);
		border-radius: 3px;
	}

	header {
		/*border: 1px solid white;*/

		width: 334px;
		height: 60px;
		justify-content: center;
	}

	header a img {
		display: none;

		/*background-image: none;
		height: 65px;*/
	}

	.caixaemail input {
		background-color: var(--form-background);
	}

	.caixasenha input {
		background-color: var(--form-background);
	}

	.caixasenha button {
		background-color: var(--form-background);
	}
	
	#lembrete button {
		background-color: var(--form-background);
	}

	#registrar button {
		background-color: var(--form-background);
	}
}

@media screen and (min-width: 992px) { /*versão para desktop  and (max-width: 1200px)*/

	body {
		display: flex;
		flex-direction: row;
	}

	#principal {
		width: 50vw;
	}

	#imagem {
		width: 50vw;
		height: 100vh;
		/*border: 1px solid white;*/

		background-image: url('../imagens/side-image.jpg');
		background-repeat: no-repeat;
		background-size:cover;
		background-position: left bottom;

	}

}